/* Simple tweaks for AdminLTE layout in React app */
html, body, #root { height: 100%; }
body { overflow-y: hidden; }
.wrapper { min-height: 100%; }
.content-wrapper { min-height: calc(100vh - 57px - 57px); overflow-y: auto; }
.sidebar .nav-link.active { background-color: #3f6791; }
